<h1><%=@dojo.branch %></h1>
<h5>Address: <%=@dojo.street %></h5>
<h5>City: <%=@dojo.city %></h5>
<h5>State: <%=@dojo.state %></h5>
<p> <a href="/">Home</a> | <a href="../<%= @dojo['id']%>/edit">Edit</a></p>
